{% extends 'base.html' %}
{% load static %}
{% block title %}View access_credential{% endblock %}
{%block content%}
<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Empleado usuario</th>
                    <th scope="col">Empleado Contraseña</th>
                    <th scope="col">Correo Empleado</th>
                    <th scope="col">cliente_nombre_usuario</th>
                    <th scope="col">cliente_contrasena</th>
                    <th scope="col">cliente_correo</th>
                </tr>
            </thead>
            <tbody>
                {% for credential in credentials %}
                <tr>
                    <!-- Nota: para acceder a los elemnetos de una tupla no 
                    usas [] usas un .  -->
                    <th scope="row">{{credential.0}}</th>
                    <td>{{credential.1}}</td>
                    <td>{{credential.2}}</td>
                    <td>{{credential.3}}</td>
                    <td>{{credential.4}}</td>
                    <td>{{credential.5}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
{%endblock%}