{% extends 'base.html' %}
{% load static %}
{% block title %}View adoptions_in_process{% endblock %}
{%block content%}
<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">id_adopcion</th>
                    <th scope="col">nombre_empleado</th>
                </tr>
            </thead>
            <tbody>
                {% for credential in credentials %}
                <tr>
                    <th scope="row">{{credential.0}}</th>
                    <td>{{credential.1}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
{%endblock%}