{% extends 'base.html' %}
{% load static %}
{% block title %}View cliente_contact{% endblock %}
{%block content%}
<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">nombre_cliente</th>
                    <th scope="col">telefono</th>
                    <th scope="col">correo_electronico</th>
                    <th scope="col">status_adopcion</th>
                </tr>
            </thead>
            <tbody>
                {% for credential in credentials %}
                <tr>
                    <!-- Nota: para acceder a los elemnetos de una tupla no 
                    usas [] usas un .  -->
                    <th scope="row">{{credential.0}}</th>
                    <td>{{credential.1}}</td>
                    <td>{{credential.2}}</td>
                    <td>{{credential.3}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
{%endblock%}