{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<style>
    body {
    font-family: 'Arial', sans-serif;
}

/* Estilo para la barra lateral */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 4.5rem;
    background-color: #333;
    padding-top: 20px;
    text-align: center;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar a {
    padding: 16px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
}

.sidebar a:hover {
    background-color: #555;
}

.content {
    margin-left: 4.5rem;
    padding: 16px;
    transition: margin-left 0.5s;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
    }

    .content {
        margin-left: 0;
    }
}

.spacer {
    height: 100px; /* Ajusta la altura según tus preferencias */
}

div h5 {
        font-size: 48px; /* Tamaño de la fuente en píxeles */
        font-family: 'Serif Sans', sans-serif; /* Cambia 'Serif Sans' por la fuente serif sans que desees */
    }

</style>
<div class="sidebar">
    <div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem;">
        <a href="#" class="d-block p-3 link-dark text-decoration-none" title="Icon-only" data-bs-toggle="tooltip" data-bs-placement="right">
            <img src="{% static 'huella_mascota.svg' %}" alt="Logo" width="40" height="32">
            <span class="visually-hidden">Mascotas</span>
        </a>
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
            <li class="nav-item">
                <a href="#" class="nav-link active py-3 border-bottom" aria-current="page" title="Create" data-bs-toggle="tooltip" data-bs-placement="right">
                    <img src="{% static 'C.svg' %}" alt="Home" width="24" height="24">
                </a>
            </li>	
            <li>
                <a href="#" class="nav-link py-3 border-bottom" title="Read" data-bs-toggle="tooltip" data-bs-placement="right">
                    <img src="{% static 'R.svg' %}" alt="Dashboard" width="24" height="24">
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-3 border-bottom" title="Update" data-bs-toggle="tooltip" data-bs-placement="right">
                    <img src="{% static 'U.svg' %}" alt="Dashboard" width="24" height="24">
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-3 border-bottom" title="Delete" data-bs-toggle="tooltip" data-bs-placement="right">
                    <img src="{% static 'D.svg' %}" alt="Dashboard" width="24" height="24">
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-3 border-bottom" title="Miscellaneous" data-bs-toggle="tooltip" data-bs-placement="right">
                    <img src="{% static 'miscelaneos.svg' %}" alt="Dashboard" width="24" height="24">
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-3 border-bottom" title="Consult" data-bs-toggle="tooltip" data-bs-placement="right">
                    <img src="{% static 'consulta.svg' %}" alt="Dashboard" width="24" height="24">
                </a>
            </li>
        </ul>
        <li>
            <a href="#" class="nav-link py-3 border-bottom" title="Log out" data-bs-toggle="tooltip" data-bs-placement="right">
                <img src="{% static 'login-sigin.svg' %}" alt="Dashboard" width="30" height="48">
            </a>
        </li>
    </div>
</div>

<div class="content">

    <div class="container-sm">
        <div class="container px-4 text-center">
            <div class="row gx-5">
                <div>
                <h5>Hola Usuario</h5>
                <h5>¿Que haremos hoy?</h5>
                </div>

<div class="spacer"></div>

              <div class="col">
               <div class="p-3">
                <a href="#">
                    <img src="{% static 'C.svg' %}" alt="Create" class="img-fluid">
                </a>
               </div>
              </div>

              <div class="col">
                <div class="p-3">
                    <a href="#">
                        <img src="{% static 'R.svg' %}" alt="Read" class="img-fluid">
                    </a>
                </div>
              </div>

              <div class="col">
                <div class="p-3">
                    <a href="#">
                        <img src="{% static 'U.svg' %}" alt="Update" class="img-fluid">
                    </a>
                </div>
              </div>

              <div class="col">
                <div class="p-3">
                    <a href="#">
                        <img src="{% static 'D.svg' %}" alt="Delete" class="img-fluid">
                    </a>
                </div>
              </div>

            </div>
          </div>
    </div>
</div>
{% endblock %}