{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<!-- Contenido de la pagina -->
<div class="content">

    <div class="container-sm">
        <div class="container px-4 text-center">
            <div class="row gx-5">
                <div>
                <h5>Hola Usuario</h5>
                <h5>¿Que haremos hoy?</h5>
                </div>

<div class="spacer"></div>

              <div class="col">
               <div class="p-3">
                <a href="#">
                    <img src="{% static 'C.svg' %}" alt="Create" class="img-fluid">
                </a>
               </div>
              </div>

              <div class="col">
                <div class="p-3">
                    <a href="#">
                        <img src="{% static 'R.svg' %}" alt="Read" class="img-fluid">
                    </a>
                </div>
              </div>

              <div class="col">
                <div class="p-3">
                    <a href="#">
                        <img src="{% static 'U.svg' %}" alt="Update" class="img-fluid">
                    </a>
                </div>
              </div>

              <div class="col">
                <div class="p-3">
                    <a href="#">
                        <img src="{% static 'D.svg' %}" alt="Delete" class="img-fluid">
                    </a>
                </div>
              </div>

            </div>
          </div>
    </div>
</div>
{% endblock %}