{% extends 'commons/show_crud.html' %}
{% load static %}
{% block title %}CREATE{% endblock %}

{% block actionName%}CREATE{% endblock %}
{% block text%}ADD SOME DATA!!!{% endblock %}

{% block tc1 %}Click the button for add some data{% endblock%}
{% block btn1 %}Lets CREATE{%endblock%}

{% block tc2 %}Click the button for add some data{% endblock%}
{% block btn2 %}Lets CREATE{%endblock%}

{% block tc3 %}Click the button for add some data{% endblock%}
{% block btn3 %}Lets CREATE{%endblock%}

{% block tc4 %}Click the button for add some data{% endblock%}
{% block btn4 %}Lets CREATE{%endblock%}

{% block tc5 %}Click the button for add some data{% endblock%}
{% block btn5 %}Lets CREATE{%endblock%}

{% block tc6 %}Click the button for add some data{% endblock%}
{% block btn6 %}Lets CREATE{%endblock%}

{% block tc7 %}Click the button for add some data{% endblock%}
{% block btn7 %}Lets CREATE{%endblock%}

{% block tc8 %}Click the button for add some data{% endblock%}
{% block btn8 %}Lets CREATE{%endblock%}