{% extends 'commons/show_crud.html' %}
{% load static %}
{% block title %}DELETE{% endblock %}

{% block actionName%}DELETE{% endblock %}
{% block text%}YEAH!!! DESTROY THAT DATA!!!{% endblock %}

{% block tc1 %}Click the button for destroy that DATA!!!{% endblock%}
{% block href %}<a href="/Home/Delete/delete_cliente" class="btn btn-primary">{%endblock%}
{% block btn1 %}Lets DELETE{%endblock%}

{% block tc2 %}Click the button for destroy that DATA!!!{% endblock%}
{% block href2 %}<a href="/Home/Delete/delete_empleado" class="btn btn-primary">{%endblock%}
{% block btn2 %}Lets DELETE{%endblock%}

{% block tc3 %}Click the button for destroy that DATA!!!{% endblock%}
{% block href3 %}<a href="/Home/Delete/delete_mascota" class="btn btn-primary">{%endblock%}
{% block btn3 %}Lets DELETE{%endblock%}

{% block tc4 %}Click the button for destroy that DATA!!!{% endblock%}
{% block href4 %}<a href="/Home/Delete/delete_perfiles" class="btn btn-primary">{%endblock%}
{% block btn4 %}Lets DELETE{%endblock%}

{% block tc5 %}Click the button for destroy that DATA!!!{% endblock%}
{% block href5 %}<a href="/Home/Delete/delete_adopcion" class="btn btn-primary">{%endblock%}
{% block btn5 %}Lets DELETE{%endblock%}

{% block tc6 %}Click the button for destroy that DATA!!!{% endblock%}
{% block href6 %}<a href="/Home/Delete/delete_raza" class="btn btn-primary">{%endblock%}
{% block btn6 %}Lets DELETE{%endblock%}

{% block tc7 %}Click the button for destroy that DATA!!!{% endblock%}
{% block href7 %}<a href="/Home/Delete/delete_especie" class="btn btn-primary">{%endblock%}
{% block btn7 %}Lets DELETE{%endblock%}

{% block tc8 %}Click the button for destroy that DATA!!!{% endblock%}
{% block href8 %}<a href="/Home/Delete/delete_cuidado" class="btn btn-primary">{%endblock%}
{% block btn8 %}Lets DELETE{%endblock%}