{% extends 'commons/show_crud.html' %}
{% load static %}
{% block title %}DELETE{% endblock %}

{% block actionName%}DELETE{% endblock %}
{% block text%}YEAH!!! DESTROY THAT DATA!!!{% endblock %}

{% block tc1 %}Click the button for destroy that DATA!!!{% endblock%}
{% block btn1 %}Lets DELETE{%endblock%}

{% block tc2 %}Click the button for destroy that DATA!!!{% endblock%}
{% block btn2 %}Lets DELETE{%endblock%}

{% block tc3 %}Click the button for destroy that DATA!!!{% endblock%}
{% block btn3 %}Lets DELETE{%endblock%}

{% block tc4 %}Click the button for destroy that DATA!!!{% endblock%}
{% block btn4 %}Lets DELETE{%endblock%}

{% block tc5 %}Click the button for destroy that DATA!!!{% endblock%}
{% block btn5 %}Lets DELETE{%endblock%}

{% block tc6 %}Click the button for destroy that DATA!!!{% endblock%}
{% block btn6 %}Lets DELETE{%endblock%}

{% block tc7 %}Click the button for destroy that DATA!!!{% endblock%}
{% block btn7 %}Lets DELETE{%endblock%}

{% block tc8 %}Click the button for destroy that DATA!!!{% endblock%}
{% block btn8 %}Lets DELETE{%endblock%}