{% extends 'commons/show_crud.html' %}
{% load static %}
{% block title %}READ{% endblock %}

{% block actionName%}READ{% endblock %}
{% block text%}WANT TO WATCH SOME DATA?{% endblock %}

{% block tc1 %}Click the button for watch some data{% endblock%}
{% block href %}<a href="/Home/Read/read_cliente" class="btn btn-primary">{%endblock%}
{% block btn1 %}Lets READ{%endblock%}

{% block tc2 %}Click the button for watch some data{% endblock%}
{% block href2 %}<a href="/Home/Read/read_empleado" class="btn btn-primary">{%endblock%}
{% block btn2 %}Lets READ{%endblock%}

{% block tc3 %}Click the button for watch some data{% endblock%}
{% block href3 %}<a href="/Home/Read/read_mascota" class="btn btn-primary">{%endblock%}
{% block btn3 %}Lets READ{%endblock%}

{% block tc4 %}Click the button for watch some data{% endblock%}
{% block href4 %}<a href="/Home/Read/read_perfiles" class="btn btn-primary">{%endblock%}
{% block btn4 %}Lets READ{%endblock%}

{% block tc5 %}Click the button for watch some data{% endblock%}
{% block href5 %}<a href="/Home/Read/read_adopcion" class="btn btn-primary">{%endblock%}
{% block btn5 %}Lets READ{%endblock%}

{% block tc6 %}Click the button for watch some data{% endblock%}
{% block href6 %}<a href="/Home/Read/read_raza" class="btn btn-primary">{%endblock%}
{% block btn6 %}Lets READ{%endblock%}

{% block tc7 %}Click the button for watch some data{% endblock%}
{% block href7 %}<a href="/Home/Read/read_especie" class="btn btn-primary">{%endblock%}
{% block btn7 %}Lets READ{%endblock%}

{% block tc8 %}Click the button for watch some data{% endblock%}
{% block href8 %}<a href="/Home/Read/read_cuidado" class="btn btn-primary">{%endblock%}
{% block btn8 %}Lets READ{%endblock%}