{% extends 'commons/show_crud.html' %}
{% load static %}
{% block title %}READ{% endblock %}

{% block actionName%}READ{% endblock %}
{% block text%}WANT TO WATCH SOME DATA?{% endblock %}

{% block tc1 %}Click the button for watch some data{% endblock%}
{% block btn1 %}Lets READ{%endblock%}

{% block tc2 %}Click the button for watch some data{% endblock%}
{% block btn2 %}Lets READ{%endblock%}

{% block tc3 %}Click the button for watch some data{% endblock%}
{% block btn3 %}Lets READ{%endblock%}

{% block tc4 %}Click the button for watch some data{% endblock%}
{% block btn4 %}Lets READ{%endblock%}

{% block tc5 %}Click the button for watch some data{% endblock%}
{% block btn5 %}Lets READ{%endblock%}

{% block tc6 %}Click the button for watch some data{% endblock%}
{% block btn6 %}Lets READ{%endblock%}

{% block tc7 %}Click the button for watch some data{% endblock%}
{% block btn7 %}Lets READ{%endblock%}

{% block tc8 %}Click the button for watch some data{% endblock%}
{% block btn8 %}Lets READ{%endblock%}