{% extends 'commons/show_crud.html' %}
{% load static %}
{% block title %}UPDATE{% endblock %}

{% block actionName%}UPDATE{% endblock %}
{% block text%}LET'S CHANGE SOME DATA!!!{% endblock %}

{% block tc1 %}Click the button for change some data{% endblock%}
{% block btn1 %}Lets UPDATE{%endblock%}

{% block tc2 %}Click the button for change some data{% endblock%}
{% block btn2 %}Lets UPDATE{%endblock%}

{% block tc3 %}Click the button for change some data{% endblock%}
{% block btn3 %}Lets UPDATE{%endblock%}

{% block tc4 %}Click the button for change some data{% endblock%}
{% block btn4 %}Lets UPDATE{%endblock%}

{% block tc5 %}Click the button for change some data{% endblock%}
{% block btn5 %}Lets UPDATE{%endblock%}

{% block tc6 %}Click the button for change some data{% endblock%}
{% block btn6 %}Lets UPDATE{%endblock%}

{% block tc7 %}Click the button for change some data{% endblock%}
{% block btn7 %}Lets UPDATE{%endblock%}

{% block tc8 %}Click the button for change some data{% endblock%}
{% block btn8 %}Lets UPDATE{%endblock%}