{% extends 'commons/show_crud.html' %}
{% load static %}
{% block title %}UPDATE{% endblock %}

{% block actionName%}UPDATE{% endblock %}
{% block text%}LET'S CHANGE SOME DATA!!!{% endblock %}

{% block tc1 %}Click the button for change some data{% endblock%}
{% block href %}<a href="/Home/Update/update_cliente" class="btn btn-primary">{%endblock%}
{% block btn1 %}Lets UPDATE{%endblock%}

{% block tc2 %}Click the button for change some data{% endblock%}
{% block href2 %}<a href="/Home/Update/update_empleado" class="btn btn-primary">{%endblock%}
{% block btn2 %}Lets UPDATE{%endblock%}

{% block tc3 %}Click the button for change some data{% endblock%}
{% block href3 %}<a href="/Home/Update/update_mascota" class="btn btn-primary">{%endblock%}
{% block btn3 %}Lets UPDATE{%endblock%}

{% block tc4 %}Click the button for change some data{% endblock%}
{% block href4 %}<a href="/Home/Update/update_perfiles" class="btn btn-primary">{%endblock%}
{% block btn4 %}Lets UPDATE{%endblock%}

{% block tc5 %}Click the button for change some data{% endblock%}
{% block href5 %}<a href="/Home/Update/update_adopcion" class="btn btn-primary">{%endblock%}
{% block btn5 %}Lets UPDATE{%endblock%}

{% block tc6 %}Click the button for change some data{% endblock%}
{% block href6 %}<a href="/Home/Update/update_raza" class="btn btn-primary">{%endblock%}
{% block btn6 %}Lets UPDATE{%endblock%}

{% block tc7 %}Click the button for change some data{% endblock%}
{% block href7 %}<a href="/Home/Update/update_especie" class="btn btn-primary">{%endblock%}
{% block btn7 %}Lets UPDATE{%endblock%}

{% block tc8 %}Click the button for change some data{% endblock%}
{% block href8 %}<a href="/Home/Update/update_cuidado" class="btn btn-primary">{%endblock%}
{% block btn8 %}Lets UPDATE{%endblock%}