{%extends 'base.html'%}
{%load static%}
{% block title %}Create Especie{% endblock %}

{%block content%}
<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <form method="post" enctype="multipart/form-data">
                <!-- Security token -->
                    {% csrf_token %}
        {% for campo in formularios %}
            <div class="mb-3">
                <label for="{{campo.name}}" class="">{{campo.name}}</label>
                <input type="{{campo.field.widget.input_type}}" 
                class="form-control"
                name="{{campo.name}}"  
                id="{{campo.name}}" aria-describedby="helpId" 
                placeholder="{{campo.name}}">
            </div>
            <div class="col-12 help-text">{{campo.errors}}</div>
        {% endfor %}
            <!-- Boton -->
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Send Info</button>
            </div>
        </form>
    </div>
</div>
{%endblock%}