{% extends 'base.html' %}
{% load static %}
{% block title %}Update Mascota{% endblock %}
{%block content%}
<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">id_mascota</th>
                    <th scope="col">nombre</th>
                    <th scope="col">peso</th>
                    <th scope="col">edad</th>
                    <th scope="col">sexo</th>
                    <th scope="col">descripcion</th>
                    <th scope="col">raza</th>
                    <th scope="col">¿Update?</th>
                </tr>
            </thead>
            <tbody>
                {% for mascota in mascotas%}
                <tr>
                    <th scope="row">{{mascota.id_mascota}}</th>
                    <td>{{mascota.nombre}}</td>
                    <td>{{mascota.peso}}</td>
                    <td>{{mascota.edad}}</td>
                    <td>{{mascota.sexo}}</td>
                    <td>{{mascota.descripcion}}</td>
                    <td>{{mascota.raza}}</td>
                    <td>
                        <a href="{% url 'update_mascota' mascota.id_mascota %}">
                            <button type="button" class="btn btn-info">Update</button>
                        </a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
{%endblock%}